<!--<div class="ui stackable grid">-->
<!--<div class="ui five wide column" *ngFor="let status of statusArray; index as i">-->
<!--<h2 class="ui header">{{taskListHeader[status]}} ({{statusObj[status].length}})</h2>-->
<!--&lt;!&ndash;[statusObj[statusArray[i+1]] ? statusObj[statusArray[i+1]] : statusObj[statusArray[i-1]]]&ndash;&gt;-->
<!--<div cdkDropList [cdkDropListData]="statusObj[status]" [cdkDropListConnectedTo]="i+1 ? i+1 : i-1"-->
<!--(cdkDropListDropped)="drop($event, status)" #i="cdkDropList">-->
<!--<div class="ui card" *ngFor="let task of statusObj[status]" cdkDrag>-->
<!--<div class="content">-->
<!--<div class="description" [innerText]="task.text"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="ui stackable grid">
  <div class="ui five wide column">
    <h2 class="ui header">{{taskListHeader.todo}} ({{statusObj.todo.length}})</h2>
    <div (cdkDropListDropped)="drop($event, 'todo')" [cdkDropListConnectedTo]="inprogress" [cdkDropListData]="statusObj['todo']"
         cdkDropList class="task-list">
      <div *ngFor="let task of statusObj['todo']" cdkDrag class="ui card">
        <div class="content">
          <div [innerText]="task.text" class="description"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui five wide column">
    <h2 class="ui header">{{taskListHeader.inprogress}} ({{statusObj.inprogress.length}})</h2>
    <div #inprogress="cdkDropList" (cdkDropListDropped)="drop($event, 'inprogress')" [cdkDropListConnectedTo]="done" [cdkDropListData]="statusObj['inprogress']"
         cdkDropList class="task-list">
      <div *ngFor="let task of statusObj['inprogress']" cdkDrag class="ui card">
        <div class="content">
          <div [innerText]="task.text" class="description"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui five wide column">
    <h2 class="ui header">{{taskListHeader.done}} ({{statusObj.done.length}})</h2>
    <div #done="cdkDropList" (cdkDropListDropped)="drop($event, 'done')" [cdkDropListConnectedTo]="inprogress" [cdkDropListData]="statusObj['done']"
         cdkDropList class="task-list">
      <div *ngFor="let task of statusObj['done']" cdkDrag class="ui card">
        <div class="content">
          <div [innerText]="task.text" class="description"></div>
        </div>
      </div>
    </div>
  </div>
</div>
