@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pointer {
  cursor: pointer;
}

.ui.grid {
  background-color: whitesmoke;
  margin: 0;
}

.ui.column:not(:last-of-type) {
  border-right: 1px solid lightgray;
}

.ui.card {
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.header {
  text-align: center;
}
